.wrapper-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  &__children {
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(244, 244, 244, 0.15);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #f4c601;
      border-radius: 5px;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 3px;
    height: 40%;
    background-color: #f4c601;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__title {
    position: absolute;
    top: 10px;
    left: -70px;
    font-family: "Mukta", sans-serif;
    color: #f4c601;
  }
}

@media screen and (max-width: 900px) {
  .wrapper-content__title {
    position: static;
    text-align: center;
    margin-top: 30px;
  }
  .wrapper-content__children {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .wrapper-content__title {
    text-align: start;
    margin-left: 16px;
  }
}
