.contact {
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__submit {
    user-select: none;
    align-self: flex-end;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 24px;
    border: 2px solid #3e3e3e;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    & input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      opacity: 0;
    }
    &.contact__disabled-submit {
      pointer-events: none;
    }
    &:hover {
      background-color: #f59e0b;
      transition: all 0.4s ease-in-out;
      color: white;
      border: 2px solid #f4c601;
    }
    span {
      font-family: "Mukta", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  &__describe {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f4c601;
    overflow: hidden;
    gap: 10px;

    &--start {
      height: 0px;
    }

    &--open {
      animation-name: openDescribe;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-fill-mode: forwards;
      overflow: hidden;
      .paragraph {
        opacity: 0;
        animation-name: openParagraph;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
      }
    }
    &--close {
      overflow: hidden;
      animation-name: closeDescribe;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-fill-mode: forwards;

      .paragraph {
        animation-name: closeParagraph;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes closeDescribe {
  0% {
    height: auto;
  }
  100% {
    border: 1px solid #f4c601;
    height: 0px;
    overflow: hidden;
  }
}

@keyframes openDescribe {
  0% {
    border: 1px solid #f4c601;
    height: 0px;
    overflow: hidden;
  }
  100% {
    border: 1px solid #f4c601;
    height: auto;
    overflow: visible;
  }
}

@keyframes openParagraph {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes closeParagraph {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-500px);
  }
}
