.rectangle {
  position: absolute;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
  &__title {
    box-sizing: border-box;
    z-index: 9;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    color: #151a1e;
    background-color: inherit;
    border: 1px solid #151a1e;
    font-family: "Mukta", sans-serif;
    transition: left, right 1s ease;
    span {
      width: 100%;
      text-align: center;
    }
    i {
      width: 30%;
      height: 100%;
      background-color: #151a1e;
      color: #f4c601;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
    &.left {
      transform: translateX(-70px);
      border-radius: 0px 10px 10px 0px;
      flex-direction: row-reverse;
      overflow: hidden;
      transition: border-radius, transform 1s ease;
    }
    &.right {
      transform: translateX(150px);
      border-radius: 10px 0 0 10px;
      overflow: hidden;
      transition: border-radius, transform 1s ease;
    }
  }
  &__clip {
    z-index: 2;
    clip-path: polygon(50% 0, 100% 22%, 100% 80%, 50% 100%, 0 80%, 0 22%);
    background-color: white;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
